* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: #ff523b;
    transition: 0.5s;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    color: white;
}
.btn a {
    color: white;
}
.header {
    background: radial-gradient(#fff, #ffd6d6);
}
.btn:hover {
    background-color: #563434;
}

/* CATEGORIES */
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

/* PRODUCTS */
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.3s;
}
.col-4 img {
    width: 100%;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: black;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}
.rating {
    color: orangered;
}
.col-4:hover {
    transform: translateY(-10px);
    background-color: #ffe6e6;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}
